@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --primary-color: black;
  --secondary-background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
  color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.content {
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  transition: opacity 0.4s ease;
  padding: 0 20px;
}

.content li {
  padding: 10px 0;
  border-bottom: 1px #555 solid;
}

.content.show {
  opacity: 1;
}

.hide {
  display: none;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}

nav ul {
  display: flex;
  padding: 5px 0 0;
  margin: 0;
  list-style-type: none;
  height: 60px;
}

nav ul li {
  background-color: rgba(219, 217, 217, 0.342);
  color: #000000;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

h1,
nav ul li:hover,
nav ul li.active {
  color: ;
}

nav ul li p {
  font-size: 12px;
  margin: 2px 0;
}

.progress-bar {
  background: var(--secondary-background-color);
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.progress {
  content: "";
  display: block;
  background: var(--primary-color);
  height: 100%;
  border-radius: 9px;
}

.alert {
  text-align: center;
  padding: 5px;
  color: orange;
  border: orange 1px solid;
}

.form-control {
  margin: 15px 0;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
}

.form-control input,
.form-control select {
  width: 100%;
  padding: 4px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  background: black;
  color: #fff;
  padding: 7px 10px;
  margin-top: 10px;
}

.btn:active,
.btn:focus {
  outline: 0;
}
